/* events.page.scss */
.event-item {
  --padding-start: 0;
  margin-bottom: 12px;
  
  h2 {
    font-weight: 600;
  }
  
  p {
    color: var(--medium-color);
  }
  
  ion-button {
    --background: var(--secondary-color);
  }
}