<ion-header>
  <div class="flex-center">
    <ion-toolbar color="light">
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password" required></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="signIn()">Login</ion-button>

  <ion-row>
    <ion-col>
      <ion-router-link routerLink="/signup">Don't have an account? Sign up</ion-router-link>
    </ion-col>
  </ion-row>
</ion-content>