<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="updateProfile()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="userProfile.email" name="email" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Update Profile</ion-button>
  </form>
</ion-content>