/* dashboard.page.scss */
.dashboard-card {
  text-align: center;
  
  .dashboard-title {
    font-size: 20px;
    font-weight: bold;
  }

  ion-button {
    --background: var(--secondary-color);
    margin: 12px;
  }
}