<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>
  <ion-card-header>
    <ion-card-title>Welcome to Sortify</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>Sortify is a simple app that helps you manage and sort your waste reporting tasks effectively.</p>
<p>Click on the button below to get started.</p>
    <ion-button routerLink="/dashboard" expand="block">Get Started</ion-button>
  </ion-card-content>
  <ion-card-content>
    <p>Explore a variety of educational materials to help you understand the importance of waste management and sustainable practices. Learn about recycling, composting, and how you can make a difference in your community.</p>
    <ion-button expand="full" routerLink="/education">Learn More</ion-button>
  </ion-card-content>
 </ion-card> 
</ion-content>
