/* settings.page.scss */
.settings-item {
  --padding-start: 0;
  margin-bottom: 12px;
  
  ion-label {
    font-size: 1.1rem;
  }
}

.save-button {
  --background: var(--primary-color);
  margin-top: 32px;
}